<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signup</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style2.css') }}">
</head>
<body>
    <!-- <div class="header"></div> -->
    <form method="POST" action="/">
        <!-- Heading -->
        <h3>
            Create an account
        </h3>

        <!-- Subheading -->
        <p >
            *Please fill up your information below to sign up.*
        </p>

        <!-- Email -->
        <div>
            <label>Email address*</label>
            <div>
                <input type="email"  name="email" id="emailStr" required>   
            </div>
        </div>

        <!-- Password -->
        <div>
            <label>Password*</label>
            <div class="input-group">
                <input type="password"  name="password" minlength="6" required>
            </div>
        </div>
        <p></p>

        <!-- Button -->
        <div>
            <input type="submit"/>
        </div>
        <p></p>
        <a href="/signin"><button type="button">signin</button></a>
    </form>
    <br>
</body>
</html>