
                details {
                  border: 1px solid;
                  padding: 0 1rem;
                  background: white;
                }
                details + details {
                  border-top: none;
                }
                details[open] {
                    padding-bottom: 1em;
                }  
                summary {
                  padding: 1rem 2em 1rem 0;
                  font-size: 1.25rem;
                  font-weight: bold;
                  cursor: pointer;
                }


                /* cascade layer: page setup. Doesn't impact the accordion */
                @layer setupPage {
                  
                :root {
                  font-size: 112.5%;
                  line-height: 1.5;
                }
                #apply body {
                  background-color: #pink;
                  color: #226daa;
                  font-family: Raleway, sans-serif;
                  margin: 1rem;
                }
                * {
                  box-sizing: border-box;
                }

                aside {
                  width: 38em;
                  max-width: 98vw;
                }
                }
                slot:not([name]) {
                  display: revert;
                }  

